.back{
  width: 100vw;
  min-height: 100%;
  background-size: cover;
  background-position-x: center;
}
.init-size-field{
  border: 12px solid rgb(255, 150, 0);
  margin: 100px auto;
  background-color: rgb(49, 68, 82);
  padding: 50px 20px 10px;
  font-size: 24px;
  color: white;
  width: 529px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: column; */
  /* align-items: center; */
}

.init-size-field span{
  line-height: 45px;
}
.init-size-field button{
  display: block;
  margin: 30px auto;
}
input{
  background-color: rgb(255, 150, 0);
  width: 100px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border-style: none;
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 10px;
}
.field-wrap{
  background-color: rgba(0,0,0,.5);
  width: 70%;
  min-height: 100vh;
  margin:auto;
  padding: 50px 20px;
  text-align: center;  
}
.field{
  border: 12px solid rgb(255, 150, 0);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(49, 68, 82);
  box-sizing: initial;
  min-height: 100%;
  height: 100%;
}
.field div{
  border:1px solid #667d83;
  width: 40px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
}
.alive{  
  background-color: rgb(60, 124, 0);  
}
.dead{  
  background-color: rgb(255, 255, 255);  
}

h1{
  font-size: 90px;
  color: rgb(255, 150, 0);
  letter-spacing: 5px;
  text-align: center;
}
h3{
  text-align: center;
  color: wheat;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin:0 0 50px;
}
.buttons-wrap{
 display: inline-block;
 margin-bottom: 50px;
}
button{
  padding: 10px 40px;
  margin: 50px;
  background-color: rgb(136, 173, 0);
  outline: none;
  font-size: 24px;
  border-style: none;
  margin: 0 20px;
  color: #1f2931;
  font-weight: 700;
}
button:hover{
  background-color: rgb(153, 196, 0);;
}
.result{
  background-color: #ffcd00;
  padding: 10px 20px;
  color: #1f2931;
  max-width: 240px;
  margin: 30px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
