/* @font-face {
  font-family: 'Stravinski';
  src: url('./fonts/Stravinski-Deco.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
.field-wrap{
  background-color: rgba(0,0,0,.5);
  width: 40%;
  height: 75%;
  margin: 0 auto;
  padding: 50px 20px;
}
.field{
  /* width: 400px;
  height: 400px; */
  border: 12px solid rgb(255, 150, 0);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(49, 68, 82);
}
.field div{
  border:1px solid #667d83;
  width: 40px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
}
.alive{  
  background-color: rgb(60, 124, 0);  
}
.dead{  
  background-color: rgb(255, 255, 255);  
}
.back{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  display: grid;
  grid-template-rows: 2fr 1fr 9fr;
  grid-template-columns: 1fr;
}
h1{
  /* font-family: 'Stravinski'; */
  font-size: 90px;
  color: rgb(255, 150, 0);
  letter-spacing: 5px;
  text-align: center;
  margin: 50px 0 0;
}
h3{
  text-align: center;
  color: wheat;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
}
.result{
  background-color: #ffcd00;
  padding: 10px 20px;
  color: #1f2931;
  max-width: 240px;
  margin: 30px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}